@{
    ViewBag.Title = "Posts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    @model VKNewsViewing.Models.PostsCollection
    @foreach (var post in Model.items)
    {
        <li>
            <a href="https://vk.com/@(post.owner_id)?w=wall@(post.owner_id)_@(post.id)">post_@post.id</a>
        </li>
    }
</ul>